body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: lightgray;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* CABECERA --------------------------------------------------------------------------------------------------------------------------*/
header {
    background-color: turquoise;
    padding: 20px 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}




.logo {
    margin-right: 500px; 
}
.logo img {
    height: 80px;
    width: 80px;
    transition: transform 0.3s ease;
}
.logo img:hover {
    transform: scale(1.1); 
}



.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    padding: 0 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: darkcyan;
}



.nav-boton {
    display: flex;
    margin-left: 0;
}
.nav-boton a{
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 40px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-boton a:hover {
    background-color: lightgray;
    color: black;
}


/*FORMULARIO ----------------------------------------------------------------------------------------------------------------------------------------- */
.banner {
    background: url(images/contacto1.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding-left: 50px;
}
.texto {
    text-align: left;
}
.texto h1 {
    font-size: 48px; 
    margin-bottom: 40px; 
}

.texto p {
    font-size: 18px; 
    margin-top: 40; 
}

.formulario {
    width: 90%;
    max-width: 900px; 
    background: white;
    padding: 60px; 
    min-height: 600px; 
    margin: 40px auto; 
}

.formulario h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.formulario p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #666;
}

.error {
    color: red;
    font-size: 18px;
    margin-top: -20px; 
    margin-bottom: 10px; 
    display: block;
}
.error-input {
    border: 2px solid red !important;
    background-color: #ffe6e6; 
}


.casilla .error {
    margin-top: 5px;
    display: block;
}

.formulario input, .formulario select, .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 30px;
}

.formulario select {
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 10px;
}

.formulario textarea {
    height: 120px;
    resize: none;
}

.casilla {
    display: inline-flex; 
    align-items: center; 
    gap: 40px; 
    margin-bottom: 40px;
}

.casilla input[type="checkbox"] {
    margin: 0; 
    width: 18px;
    height: 18px;
}

.boton {
    width: 100%;
    background: #ff6600;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.boton:hover {
    background: #e65c00;
}



/* FOOTER --------------------------------------------------------------------------------------------------------------------------*/
footer {
    background-color: turquoise;
    color: black; 
    padding: 20px; 
    font-family: 'Arial', sans-serif;

    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

footer a {
    color: black;
    text-decoration: none;
}

.footer-left {
    text-align: left; 
}

.footer-right {
    text-align: right; 
}

.icon {
    margin-right: 10px; 
}

.redes img {
    margin: 0 10px; 
    text-decoration: none; 
    transition: transform 0.3s ease;
}
.redes img:hover {
    transform: scale(1.2); 
}




/* MOVILES -------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .logo {
        margin-right: 0;
    }

    .nav-links {
        flex-direction: column; 
        align-items: center;
    }

    .recuadr {
        flex-wrap: wrap; 
    }

    .banner {
        padding: 20px; 
    }


    .banner .texto p {
        font-size: 14px; 
    }
    .formulario {
        width: 90%; 
        margin: 0 10px; 
        padding: 20px; 
    }

    .formulario h2 {
        font-size: 24px; 
    }

    .formulario p {
        font-size: 14px; 
    }

    .formulario form {
        display: flex;
        flex-direction: column;
        gap: 10px; 
    }

    .formulario textarea {
        height: 100px; 
    }
}

/* TABLETS*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
        margin-right: 200px; 
    }

    .nav-links a {
        font-size: 16px; 
        margin: 0 10px; 
    }

    .banner {
        padding: 30px; 
    }

    .banner .texto p {
        font-size: 16px; /
    }

    .formulario {
        width: 80%; 
        margin: 0 auto; 
        padding: 30px; 
    }

    .formulario h2 {
        font-size: 28px; 
    }

    .formulario p {
        font-size: 16px; 
    }

    .formulario form {
        display: flex;
        flex-direction: column;
        gap: 15px; 
    }

    .formulario textarea {
        height: 120px; 
    }


}


/* MOVILES -------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .logo {
        margin-right: 0;
    }

    .nav-links {
        flex-direction: column; 
        align-items: center;
    }


}
/* TABLETS */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
        margin-right: 200px; 
    }

    .nav-links a {
        font-size: 16px; 
        margin: 0 10px;
        flex-direction: column; 
        align-items: center; 
    }

}